
<div class="container-fluid">
  <h1>Book-List Assignment</h1>
  <form [formGroup]="itemForm" #form="ngForm">
    <div class="row col-sm-12">
      <div class="col-sm-4">
        <div>
          <label>Book Name</label>
        </div>
      <input type="text" id="bookName" name="bookName" [value]="bookName" formControlName="bookName" placeholder="Book's Name"
             required
             class="form-control form-control-sm"
             [class.is-invalid]="bookName?.invalid && (bookName?.dirty || bookName?.touched)" />
      </div>
      <div class="col-sm-4">
        <div>
          <label>Year</label>
        </div>
      <input type="number" id="year" name="year" formControlName="year" placeholder="Year"
             required
             class="form-control form-control-sm"
             [class.is-invalid]="year?.invalid && (year?.dirty || year?.touched)" />
      </div>
      <div class="col-sm-4">
        <div>
          <label>Author's Name</label>
        </div>
      <input type="text" id="authorName" name="authorName" formControlName="authorName" placeholder="Author's Name"
             required
             class="form-control form-control-sm"
             [class.is-invalid]="authorName?.invalid && (authorName?.dirty || authorName?.touched)" />
      </div>
    </div>
    <div class="btn-div">
      <button [disabled]="itemForm.invalid" type="button" class="btn btn-sm btn-primary" (click)="saveBook()">Add Book</button>
    </div>
  </form>

  <div class="container-fluid">
  <table id="books" *ngIf="bookList.length > 0">
    <tr>
      <th>Book Title</th>
      <th>Year</th>
      <th>Author Name</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of bookList; index as index">
      <td>{{item?.bookName}} {{index}}</td>
      <td>{{item.year}} {{index}}</td>
      <td>{{item.authorName}}</td>
      <td>
        <button (click)="deleteBook(index)" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
  </table>
  </div>
</div>
